<?xml version="1.0"?>
<launch>
    <arg name="ekf_odom" default="/ekf/ekf_odom"/>
    <arg name="node_name" default="ekf"/>
    <arg name="tof_measure" default="/micolink_tof" />
    <arg name="odom_raw" value="/mavros/global_position/local" />
    <arg name="tof_port" value="/dev/ttyTHS1"/>
    <arg name="tof_is_micolink" default="false"/>
    <arg name="tof_is_nlink" default="false"/>
    <arg name="tof_is_px4" default="false"/>


    <node pkg="ekf" type="ekf" name="$(arg node_name)" output="screen">
        <remap from="~imu" to="/mavros/imu/data_raw" />
        <!-- <remap from="~bodyodometry" to="/Odometry"/>  -->
        <remap from="~bodyodometry" to="/pose_height_fusion" />
        <remap from="~ekf_odom" to="$(arg ekf_odom)" />
        <remap from="~yaw_rad" to="/yaw_radius" />

        <!-- parms -->
        <rosparam file="$(find ekf)/launch/PX4_vio_drone.yaml" command="load" />

        <!--body origin ( center of mass ) in IMU frame , for sending to controller-->
        <param name="imu_trans_x" type="double" value="0.0" />
        <param name="imu_trans_y" type="double" value="0.0" />
        <!-- <param name="imu_trans_z" type="double" value="-0.10"/>  -->
        <param name="imu_trans_z" type="double" value="0.15" />

        <!-- Qt -->
        <param name="gyro_cov" type="double" value="0.02" />
        <param name="acc_cov" type="double" value="0.5" />
        <!-- Rt -->
        <param name="position_cov" type="double" value="0.01"/>
        <param name="q_rp_cov" type="double" value="0.01"/>
        <param name="q_yaw_cov" type="double" value="0.01"/>
        <!-- <param name="position_cov" type="double" value="0.00001" />
        <param name="q_rp_cov" type="double" value="0.00001" />
        <param name="q_yaw_cov" type="double" value="0.00001" /> -->
    </node>


    <!-- tof height measure and fusion-->
    <group if="$(arg tof_is_nlink)">
        <node pkg="nlink_parser" type="tofsense" name="tofsense0" output="screen">
            <param name="port_name" type="str" value="/dev/ttyTHS1" />
            <param name="baud_rate" type="int" value="921600" />
            <param name="inquire_mode" type="bool" value="false" />
        </node>
        <node name="height_fusion" pkg="merge_height" type="height_fusion" output="screen">
            <remap from="~odom_raw" to="$(arg odom_raw)" />
            <remap from="~odom_fusion" to="/odom_fusion" />
            <remap from="~tof_measure" to="$(arg tof_measure)" />
        </node>
    </group>

    <group if="$(arg tof_is_micolink)">
        <node name="micolink_tof_node" pkg="micolink" type="micolink_node" output="screen">
            <param name="port_name" type="str" value="/dev/ttyTHS1"/>
        </node>
        <node name="height_fusion" pkg="merge_height" type="height_fusion" output="screen">
            <remap from="~odom_raw" to="$(arg odom_raw)" />
            <remap from="~odom_fusion" to="/odom_fusion" />
            <remap from="~tof_measure" to="/micolink_tof" />
        </node>
    </group>

    <group if="$(arg tof_is_px4)">
        <node name="height_fusion" pkg="merge_height" type="height_fusion" output="screen">
            <remap from="~odom_raw" to="$(arg odom_raw)" />
            <remap from="~odom_fusion" to="/odom_fusion" />
            <remap from="~tof_measure" to="/mavros/px4flow/ground_distance" />
        </node>
    </group>

    <node name="echo_state" pkg="ekf" type="echo_state" output="screen"/>
</launch>